<link rel="stylesheet" href="{{ base.url | prepend: site.url }}/assets/css/webweb/style.css">

<div id='larremore-lab-webweb-visualization' style='width: 100%'></div>
<script type="text/javascript">
    var wwdata = {{include.webweb_json | jsonify }};
    wwdata.display.attachWebwebToElementWithId = "larremore-lab-webweb-visualization";
    wwdata.display.g = .4

    {% if include.responsive == true %}
    wwdata.display.w = undefined;
    wwdata.display.h = undefined;
    {% endif %}

    {% if include.fix_width == false %}
    wwdata.display.w = 250;
    {% endif %}
    {% if include.fix_height == false %}
    wwdata.display.h = 250;
    {% endif %}
</script>
<br>
<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/webweb/webweb.bundle.js?{{site.time | date: '%s%N'}}"></script> 
